@model DisneyMovieReviewSite.Models.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="~/Styles/Main.css" />
    <link rel="stylesheet" href="~/Styles/CategoryDetails.css" />
</head>
<body>
    <!-- NavBar -->
    <nav id="navbar">
        <ul>
            <li><a href="/Home">HOME</a></li>
            <li><a href="/Category">CATEGORIES</a></li>
            <li><a href="/Movie">MOVIES</a></li>

        </ul>
    </nav>

    <!-- Section: Category List-->
    <section id="category-container">
        <div class="category-header">
            <h1>@Model.CategoryName</h1>
        </div>
        @foreach (var movie in @Model.Movies)
        {
            <div class="details-info">
                <img src="@movie.ImgPath" />
                <p>@movie.Name</p>
                <p>@movie.ReleaseYear</p>
                <p>@movie.Rating out of 5</p>
                
            </div>
        }

    </section>
</body>
</html>
