@model DisneyMovieReviewSite.Models.Review
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/Main.css" />
    <link rel="stylesheet" href="~/Styles/ReviewDelete.css" />
    <title>Delete</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/Home">HOME</a></li>
            <li><a href="/Category">CATEGORIES</a></li>
            <li><a href="/Movie">MOVIES</a></li>
        </ul>
    </nav>

    <!-- Section: Form -->
    <section id="container">
        <div class="form-container">
            <h3>Are you sure you want to delete this review?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Movie)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Movie.Name)
                    </dd>
                    <dt>
                        Review
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ReviewContent)
                    </dd>
                    <dt>
                        Rating
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserRating)
                    </dd>
                    <dt>
                        Username
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="ReviewID" />
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    <a asp-action="../Movie/Details/@Model.Movie.MovieID">Back to List</a>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
