@model DisneyMovieReviewSite.Models.Movie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name Details</title>
    <link rel="stylesheet" href="~/Styles/Main.css" />
    <link rel="stylesheet" href="~/Styles/Details.css" />
</head>
<body>

    <!-- NavBar -->
    <nav id="navbar">
        <ul>
            <li><a href="/Home">HOME</a></li>
            <li><a href="/Category">CATEGORIES</a></li>
            <li><a href="/Movie">MOVIES</a></li>
        </ul>
    </nav>

    <!-- Section: Detail Card -->
    <section class="movie-details">
        <div class="container">
            <h1>Movie Details</h1>
            <div class="movie-container">
                <article class="card">
                    <img class="details-image" src="@Model.ImgPath" />
                    <div>
                        <h3>@Model.Name</h3>
                        <ul class="movie-info">
                            <li>Release Year: @Model.ReleaseYear</li>
                            <li>Category: @Model.Category</li>
                            <li>Length: @Model.RunTime Minutes</li>
                            <li>Rating: @Model.Rating out of 5</li>
                        </ul>
                        <p><strong>Synopsis:</strong> @Model.Synopsis</p>
                        <p><em>@Model.UserName</em></p>
                    </div>
                </article>
            </div>
        </div>
    </section>






   
</body>
</html>
