@model DisneyMovieReviewSite.Models.Movie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name Details</title>
    <link rel="stylesheet" href="~/Styles/Main.css" />
</head>
<body>

    <!-- NavBar -->
    <nav id="navbar">
        <ul>
            <li><a href="/Home">HOME</a></li>
            <li><a href="/Movie">MOVIES</a></li>
        </ul>
    </nav>


    <h1>@Model.Name</h1>
    <p>@Model.Synopsis</p>
    <img src="@Model.ImgPath" />
    <p>@Model.Review</p>
    <ul>
        <li>Release Year: @Model.ReleaseYear</li>
        <li>Category: @Model.Category</li>
        <li>Length: @Model.RunTime Minutes</li>
        <li>Rating: @Model.Rating out of 5</li>

    </ul>
</body>
</html>
